<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.polyvi.xface.extension.zbar"
    version="1.0.3-dev">
    <name>Zbar</name>
    <description>xFace Zbar Extension</description>
    <license>GPLv3</license>
    <keywords>cordova,xface,zbar</keywords>

    <js-module src="www/BarcodeScanner.js" name="Zbar">
        <clobbers target="xFace.BarcodeScanner" />
    </js-module>

	 <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="BarcodeScanner">
                <param name="android-package" value="com.polyvi.xface.extension.zbar.XZBarExt"/>
            </feature>
        </config-file>
		<config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.CAMERA" />
			<uses-permission android:name="android.permission.VIBRATE" />
			<uses-feature android:name="android.hardware.camera" />
            <uses-feature android:name="android.hardware.camera.autofocus" />
        </config-file>
		<config-file target="AndroidManifest.xml" parent="application">
            <activity android:name="com.polyvi.xface.extension.zbar.XCameraActivity" >
            </activity>
        </config-file>
		<source-file src="src/android/libs/zbar.jar" target-dir="libs/" />
		<source-file src="src/android/libs/armeabi/libzbarjni.so" target-dir="libs/armeabi/" />
        <source-file src="src/android/XCameraActivity.java" target-dir="src/com/polyvi/xface/extension/zbar" />
		<source-file src="src/android/XCameraPreview.java" target-dir="src/com/polyvi/xface/extension/zbar" />
		<source-file src="src/android/XZBarExt.java" target-dir="src/com/polyvi/xface/extension/zbar" />
        <proguard-config>
-keepclasseswithmembers class net.sourceforge.zbar.*{
*;
}
        </proguard-config>
     </platform>
     <!-- wp8 -->
    <platform name="wp8">
        <config-file target="config.xml" parent="/*">
            <feature name="BarcodeScanner">
                <param name="wp-package" value="BarcodeScanner"/>
            </feature>
        </config-file>

        <config-file target="Properties/WMAppManifest.xml" parent="/Deployment/App/Capabilities">
            <Capability Name="ID_CAP_ISV_CAMERA"/>
        </config-file>

        <source-file src="src/wp/XZBarExt.cs" />
        <source-file src="src/wp/XBarCodeTask.cs" />
        <source-file src="src/wp/XBarCode.cs" />
        <source-file src="src/wp/XBarCode.xaml" />
        <source-file src="src/wp/XPhotoCameraLuminanceSource.cs" />
        <source-file src="src/wp/Silverlight_ZXing_Core.dll" />
    </platform>

    <!-- ios -->
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="BarcodeScanner">
                <param name="ios-package" value="XZBarExt" />
            </feature>
        </config-file>

        <framework src="QuartzCore.framework" />
        <framework src="libiconv.dylib" />
        <framework src="ImageIO.framework" />
        <framework src="CoreVideo.framework" />

        <header-file src="src/ios/XZBarExt.h" />
        <source-file src="src/ios/XZBarExt.m" />
        <header-file src="src/ios/XZBarExt_Privates.h" />
        <header-file src="src/ios/ZBarSDK/ZBarCameraSimulator.h" />
        <header-file src="src/ios/ZBarSDK/ZBarCaptureReader.h" />
        <header-file src="src/ios/ZBarSDK/ZBarHelpController.h" />
        <header-file src="src/ios/ZBarSDK/ZBarImage.h" />
        <header-file src="src/ios/ZBarSDK/ZBarImageScanner.h" />
        <header-file src="src/ios/ZBarSDK/ZBarReaderController.h" />
        <header-file src="src/ios/ZBarSDK/ZBarReaderView.h" />
        <header-file src="src/ios/ZBarSDK/ZBarReaderViewController.h" />
        <header-file src="src/ios/ZBarSDK/ZBarSDK.h" />
        <header-file src="src/ios/ZBarSDK/ZBarSymbol.h" />
        <source-file framework="true" src="src/ios/ZBarSDK/libzbar.a" />
        <header-file src="src/ios/ZBarSDK/zbar.h" />
        <header-file src="src/ios/ZBarSDK/zbar/Decoder.h" />
        <header-file src="src/ios/ZBarSDK/zbar/Exception.h" />
        <header-file src="src/ios/ZBarSDK/zbar/Image.h" />
        <header-file src="src/ios/ZBarSDK/zbar/ImageScanner.h" />
        <header-file src="src/ios/ZBarSDK/zbar/Processor.h" />
        <header-file src="src/ios/ZBarSDK/zbar/Scanner.h" />
        <header-file src="src/ios/ZBarSDK/zbar/Symbol.h" />
        <header-file src="src/ios/ZBarSDK/zbar/Video.h" />
        <header-file src="src/ios/ZBarSDK/zbar/Window.h" />
    </platform>

</plugin>
